* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
}

.logo{
  vertical-align: middle;
  width: 80px;
  height: 18px;
}
/* header */
header{
  width: 100%;
  height: 60px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: black;
  font-size: 14px;
}

li{
  list-style: none;
}

.sx{
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dx{
  width:28%;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-start a{
  color: white;
  font-size: 12px;
}

.btn-start{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#0061FF ;
  height: 30px;
  width: 50px;
}
/* /header */

/* jumbtron */
.background-jumbo{
  width: 1300px;
  height: 500px;
  margin: 0 auto;
  background-color: #B4D1E7;
  margin-bottom: 120px;
}

h1{
  font-size: 70px;
}

.container-title{
  width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
}

.container-jumbo{
  display: flex;
  width: 1000px;
  height: 350px;
  margin: 0 auto;
}

.box-sx{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  width: 30% ;
}

.box-sx p{
  font-size: 13px;
}

.fa-arrow-down{
  font-size: 30px;
}

.box-dx{
  height: 100%;
  width: 75% ;
}

.jumbo-img{
  width: 600px;
  height: 350px;
}

.box-sx a{
  padding:8px;
  font-size: 13px;
  color: white;
  background-color: #0061FF;
  cursor: pointer;
}
/* /jumbtron */

/* piani business */
.business-plan{
  width: 1300px;
  margin: 0 auto;
  margin-bottom: 90px;
}
 /* contenitore di base dei piani business */
.container-plan{
  width: 700px;
  height: 1000px;
  margin: 0 auto;
}
/* intestazione colonna piani business */
.title-plan{
  margin-bottom: 40px ;
}

.radio{
  margin-left: 15px;
}

.radio-first,.radio{
  font-size: 14px;
}

.container-member{
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 680px;
  margin: 0 auto;
  padding-top: 20px ;
  margin-bottom: 40px;
}

.professional{
  height: 100%;
  width: 31% ;
  border: 0.3px solid rgb(127, 125, 125);
}

.professional .singolo{
  text-align: center;
  font-size: 13px;
  padding: 10px;
  border-bottom: 0.3px solid rgb(127, 125, 125);
}

.professional h3{
  margin-left: 15px;
  margin-top: 15px;
  font-size:20px ;
}

.professional .euro{
  margin-left: 15px;
  margin-top: 15px;
  font-size: 13px;
}

.professional .month{
  margin-left: 15px;
  margin-top: 6px;
  color: grey;
  font-size: 13px;
}
/* primo elenco */
.professional-description{
  margin-left: 15px;
  margin-top: 15px;
  font-size: 13px;
}

.professional-description ul li{
display: flex;
}

.professional-description span{
  margin-bottom: 10px;
  margin-left: 5px;
}

/* bottone prova gratis per 30 giorni */
.btn-prova{
  padding:8px;
  text-align: center;
  font-size: 13px;
  margin: 20px;
  color: white;
  background-color: #0061FF;
  cursor: pointer;
}

.btn-prova:hover{
  background-color: #5894f5; 
}

/* linea spazio corta */
.border{
  border: 0.3px solid rgb(193, 193, 193);
  width: 40px;
  margin-left: 20px;
}

.space{
  margin: 20px;
  font-size: 13px;
}

.underline{
text-decoration: underline;
color: purple;
font-size: 13px;
}

/* elenco punti salienti piano */
.point{
  margin: 20px;
}

.punti-salienti{
  margin-left: 15px;
  margin-top: 15px;
  font-size: 13px;
}

.punti-salienti ul li{
display: flex;
}

.punti-salienti span{
  margin-bottom: 10px;
  margin-left: 5px;
}

.fa-check{
  color: #0061FF;
  font-size: 13px;
}

.advanced{
  height: 100%;
  width: 31% ;
  border: 0.3px solid rgb(127, 125, 125);
}

.enterprise{
  height: 100%;
  width: 31% ;
  border: 0.3px solid rgb(127, 125, 125);
}

.last-container-plane{
  width: 700px;
  height: 200px;
  margin: 0 auto;
  border: 0.3px solid rgb(127, 125, 125);
}

.singolo{
  text-align: center;
  font-size: 13px;
  padding: 10px;
  border-bottom: 0.3px solid rgb(127, 125, 125);
}

.container-bottom-team .euro{
  margin-left: 15px;
  margin-top: 15px;
  font-size: 13px;
  margin-bottom: 30px;
}

.container-bottom-team h3{
  margin-left: 15px;
  margin-top: 15px;
  font-size:20px ;
}

.container-bottom-team span{
  margin-bottom: 10px;
  margin-left: 15px;
  font-size: 13px;
}

.d-flex{
  display: flex;
  justify-content: space-between;
}

.btn-contact{
  padding:8px;
  text-align: center;
  font-size: 13px;
  margin: 15px;
  color: white;
  background-color: #0061FF;
  cursor: pointer;
}

.btn-contact:hover{
  background-color: #5894f5;
}

.container-base-foto{
  display: flex;
  width: 700px;
  margin: 0 auto;
  }

.box-foto{
  height: 100%;
  width: 60% ;
}

.box-foto img{
  width: 450px;
  padding: 12px;
}

.box-testo{
  width: 40%;
  padding-left: 40px;
  padding-top: 60px;
}

.box-testo p{
  font-size: 13px;
  padding-top: 15px;
}

.box-testo .btn-partner{
  padding: 5px 10px;
  width: 130px;
  margin-top: 40px;
  text-align: center;
  font-size: 13px;
  border: 1px solid rgb(175, 174, 174);
  cursor: pointer;
}

.background-cards{
  height: 800px;
  width: 700px;
  margin: 0 auto;
}

.background-cards h2{
  font-size: 30px;
  margin-top: 90px;
}

.box-card-row{
  display: flex;
  justify-content: space-between;
  height: 50%;
  width: 100%;
}

.box-card-row .card-one{
  height: 100%;
  width: 30%;
}

.card-one img{
  width: 100%;
}

.card-one p{
  margin-top: 20px ;
  font-size: 13px;
}

/* title business */

.dropbox-business{
  width: 700px;
  margin: 0 auto;
  margin-top: 100px;
}

.dropbox-business h2{
  font-size: 35px;
  margin-bottom: 35px ;
}

.dropbox-business a{
  text-decoration: underline;
  color: purple;
}

/* sponsor */

.container-sponsor{
  margin-top: 80px;
  display: flex;
  width: 100%;
  height: 430px;
}

.box-sponsor1{
  display: flex;
  flex-wrap: wrap;
  width: calc(100%/3);
}
/* primo sponsor */
.designit{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A3D39B;
  width: 50%;
  height: 50%;
  position: relative;
  cursor: pointer;
}

.designit img{
  width: 50%;
  height: 50%;
  filter: invert(1);
}

.designit-b{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 15px solid #d1e3ce;
  display: none;
}

.designit:hover .designit-b{
  display: block;
}

/* secondo sponsor */
.designit2{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #61082C;
  width: 50%;
  height: 50%;
  position: relative;
  cursor: pointer;
}

.designit2 img{
  width: 50%;
  height: 50%;
  filter: invert(1);
}

.designit2:hover .designit-b{
  display: block;
}

/* terzo sponsor */
.designit3{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0093CE;
  width: 50%;
  height: 50%;
  position: relative;
  cursor: pointer;
}

.designit3 img{
  width: 50%;
  height: 20%;
  filter: invert(1);
}

.designit3:hover .designit-b{
  display: block;
}

/* quarto sponsor */
.designit4{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF1D1D;
  width: 50%;
  height: 50%;
  position: relative;
  cursor: pointer;
}

.designit4 img{
  width: 50%;
  height: 50%;
  filter: invert(1);
}

.designit-b{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 15px solid #d1e3ce;
  display: none;
}

.designit4:hover .designit-b{
  display: block;
}

/* box con le scritte */
.box-sponsor2{
  width: calc(100%/3);
}
.box-sponsor2 img{
  width: 65%;
  padding: 40px;
}

.line{
border: 0.4px solid rgba(0, 0, 0, 0.177);
width: 80px;
margin-left: 40px;
}

#space{
  margin-top: 40px;
}

.box-sponsor2 p{
  font-size: 13px;
margin: 40px;
}

/* box sponsor destra */
.box-sponsor3{
  display: flex;
  flex-wrap: wrap;
  width: calc(100%/3);
  background-color: rgb(139, 124, 235);
} 

/* quinto sponsor */
.designit5{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D5001F;
  width: 50%;
  height: 50%;
  position: relative;
  cursor: pointer;
}

.designit5 img{
  width: 50%;
  height: 50%;
  filter: invert(1);
}

.designit-b{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 15px solid #d1e3ce;
  display: none;
}

.designit5:hover .designit-b{
  display: block;
}

/* sesto sponsor */
.designit6{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B4D1E7;
  width: 50%;
  height: 50%;
  position: relative;
  cursor: pointer;
}

.designit6 img{
  width: 50%;
  height: 50%;
  filter: invert(1);
}

.designit-b{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 15px solid #d1e3ce;
  display: none;
}

.designit6:hover .designit-b{
  display: block;
}

/* settimo sponsor */
.designit7{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0C2481;
  width: 50%;
  height: 50%;
  position: relative;
  cursor: pointer;
}

.designit7 img{
  width: 50%;
  height: 50%;
  filter: invert(1);
}

.designit-b{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 15px solid #9baced;
  display: none;
}

.designit7:hover .designit-b{
  display: block;
}

/* ottavo sponsor */
.designit8{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFD831;
  width: 50%;
  height: 50%;
  position: relative;
  cursor: pointer;
}

.designit8 img{
  width: 50%;
  height: 50%;
  filter: invert(1);
}

.designit-b{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 15px solid #d1e3ce;
  display: none;
}

.designit8:hover .designit-b{
  display: block;
}