* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
}

.logo{
  vertical-align: middle;
  width: 80px;
  height: 18px;
}
/* header */
header{
  width: 100%;
  height: 60px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: black;
  font-size: 14px;
}

li{
  list-style: none;
}

.sx{
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dx{
  width:28%;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-start a{
  color: white;
  font-size: 12px;
}

.btn-start{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#0061FF ;
  height: 30px;
  width: 50px;
}
/* /header */

/* jumbtron */
.background-jumbo{
  width: 1300px;
  height: 500px;
  margin: 0 auto;
  background-color: #B4D1E7;
  margin-bottom: 120px;
}

h1{
  font-size: 70px;
}

.container-title{
  width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
}

.container-jumbo{
  display: flex;
  width: 1000px;
  height: 350px;
  margin: 0 auto;
}

.box-sx{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  width: 30% ;
}

.box-sx p{
  font-size: 13px;
}

.fa-arrow-down{
  font-size: 30px;
}

.box-dx{
  height: 100%;
  width: 75% ;
}

.jumbo-img{
  width: 600px;
  height: 350px;
}

.box-sx a{
  padding:8px;
  font-size: 13px;
  color: white;
  background-color: #0061FF;
  cursor: pointer;
}
/* /jumbtron */

.business-plan{
  width: 1300px;
  height: 1000px;
  margin: 0 auto;
  background-color: #b9e7b4;
}

.container-plan{
  width: 700px;
  height: 880px;
  margin: 0 auto;
  background-color: #24ef0d;
}

.title-plan{
margin-bottom: 40px ;
}

.radio{
  margin-left: 15px;
}

.radio-first,.radio{
  font-size: 14px;
}

.container-member{
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 850px;
  margin: 0 auto;
  padding-top: 20px ;
}

.professional{
  height: 100%;
  width: 31% ;
  border: 1px solid black;
}

.professional .singolo{
  text-align: center;
  font-size: 13px;
  padding: 10px;
  border-bottom: 1px solid black;
}

.professional h3{
  margin-left: 20px;
  margin-top: 15px;
  font-size:20px ;
}

.professional .euro{
  margin-left: 20px;
  margin-top: 15px;
  font-size: 13px;
}

.professional .month{
  margin-left: 20px;
  margin-top: 6px;
  color: grey;
  font-size: 13px;
}

.professional-description{
  margin-left: 20px;
  line-height: 15px;
  margin-top: 15px;
  font-size: 13px;
}

.professional-description ul li{
display: flex;
}

.btn-prova{
  padding:8px;
  font-size: 13px;
  margin: 20px;
  color: white;
  background-color: #0061FF;
  cursor: pointer;
}

.btn-prova:hover{
  background-color: #4f8ff5; 
}





.advanced{
  height: 100%;
  width: 31% ;
  border: 1px solid black;
}

.enterprise{
  height: 100%;
  width: 31% ;
  border: 1px solid black;
}