* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
}

.logo{
  vertical-align: middle;
  width: 80px;
  height: 18px;
}

header{
  width: 100%;
  height: 60px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: black;
  font-size: 14px;
}

li{
  list-style: none;
}

.sx{
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dx{
  width:28%;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-jumbo{
  max-width: 1300px;
  background-color: #B4D1E7;
  height: 71vh;
  position: relative;
}

.jumbotron{
  display: flex;
  margin-top: 170px;
  width: 900px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-sx{
  width: 30%;
  height: 100%;
  margin-left: 5px;
}

.box-dx{
  width: 60%;
  height: 100%;
}

.title-box{
  display: flex;
  margin-top: 3px;
  width: 900px;
  height: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-box h1{
  font-size: 3.8rem;
  font-weight: 800;
}

.box-sx p{
  font-size: 13px;
  margin-bottom: 25px;
}

.box-dx img{
  width: 585px;
  height: 307px;
}

.btn{
  background-color:#0061FF ;
  height: 30px;
  width: 170px;
  margin-bottom: 20px;
}

.btn a{
  position: relative;
  top: 5px;
  padding: 15px;
  color: white;
  font-size: 12px;
}

.btn-start{
  background-color:#0061FF ;
  height: 30px;
  width: 50px;
  position: relative;
}

.btn-start a{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
}

.fa-arrow-down{
  font-size: 35px;
}

.business-plan{
  display: flex;
  margin-top: 750px;
  width: 700px;
  height: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: blue;
}

.plan h2{
  font-size: 30px;
}

.radio{
  margin-top: 35px;
}

.business-box{
  display: flex;
  justify-content: center;
}

.professional{
  display: flex;
  width: 37%;
  height: 713px;
  background-color: aqua;
}

.advanced{
  display: flex;
  width: 37%;
  height: 713px;
  background-color: rgb(255, 64, 0);
}

.enterprise{
  display: flex;
  width: 37%;
  height: 713px;
  background-color: rgb(255, 0, 230);
}